<!-- <hr>
<div class="man-container">
    <h1>Another Component</h1>
    <h4>First Name: {{firstNameAN}}</h4>
    <h4>Last Name: {{lastNameAN}}</h4>
    <br><br>
    <button (click)= "getFullName()">Get Full Name</button>
</div> -->

<div style="background-color: black;color: white;">
    <h1>Sample Component</h1>
    <h4>First Name: {{firstNameAN}}</h4>
    <h4>Last Name : {{lastNameAN}}</h4>
    <h4>Age : {{ageAN}}</h4>
    <br><br>
    <button (click)= "getFullName()">Get Full Name</button>
    <button (click)= "getAgeOutput()">Get Age</button>
</div>