<div class="card" style="width:18rem">
    <form class="form-group mr-5">
        <label for="lastName">
            Last Name: 
            <input type="text" class="form-control" id="lastName"  name="lastName">
        </label>
        <br><br>
        <label for="">
            First Name: 
            <input type="text" class="form-control">
        </label>
        <br><br>
        <label for="">
            Age: 
            <input type="text" class="form-control">
        </label>
        <br><br>
        <label for="">
            Nationality: 
            <input type="text" class="form-control">
        </label>
        <br><br>
        <label for="">
            Gender: 
            <input type="text" class="form-control">
        </label>
        <br><br>
        <button class = "btn btn-primary" (click) = "sendUpdate()">Update Person's Info</button>
    </form>
</div>