<div class="card" style="width:18rem">
    <form class="form-group mr-5" #contactForm = "ngForm" (ngSubmit) = "onSubmit()">
        <div>
            <label for="lastName">
                Last Name: 
            </label>
            <input type="text" class="form-control" id="lastName"  name="lastName">
        </div>
        <div>
            <label for="firstName">
                First Name: 
            </label>
            <input type="text" class="form-control" id="firstName"  name="firstName">
        </div>
        <div>
            <label for="age">
                Age: 
            </label>
            <input type="text" class="form-control" id="age"  name="age">
        </div>
        <div>
            <label for="nationality">
                Nationality: 
            </label>
            <input type="text" class="form-control" id="nationality"  name="nationality">
        </div>
        <div>
            <label for="gender">
                Gender: 
            </label>
            <input type="text" class="form-control" id="gender"  name="gender">
        </div>
        <br><br>
        <button  type = "submit" class = "btn btn-primary" (click)="updatInfo()" >Update</button>
        <button  type = "button" class = "btn btn-primary" (click)="cancelUpdate()" >Cancel</button>

    </form>
</div>